.jumbotron {
    background: rgb(255, 255, 255);
    background: linear-gradient(63deg, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 0.3618040966386554) 100%);
    padding-bottom: 2rem;
    padding-top: 2.3rem;
}

.display-3 {
    font-family: 'Pacifico', cursive;
}

#submit-button,
#close-button {
    font-family: 'Pacifico', cursive;
    padding: 5px;
}

#submit-button:hover,
#close-button:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

body {
    background: repeating-linear-gradient( 45deg, transparent 0, transparent 25%, tomato 0, rgba(216, 154, 143, 0.8) 50%), white;
    background-blend-mode: multiply;
    /* Our gradient breaks if the height is too low? */
    min-height: 1000px;
}

.card {
    margin-bottom: 1rem;
}

#recipe-name {
    font-size: 18pt;
    font-weight: bold;
}

#playlist-name {
    font-size: 15pt;
}

.btn,
.card-col {
    margin: 0rem;
    padding: 0rem;
}

#servings,
#time {
    text-align: center;
}

.recipe-title-area:hover {
    color: tomato;
    transition: ease-out;
}

i:hover {
    opacity: 0.6;
    transition: 0.4s ease-out;
    transform: scale(1.2);
}


/* Auth modal css selectors are below*/

button:disabled,
button[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: blue;
    color: yellow;
}

#container,
#container1,
#container2,
#container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
.authModalFormat {
    width: 400px;
    height: auto;
}

.authModalHeader,
.authFooter {
    background-color: rgba(216, 154, 143, .8);
}

.close {
    font-size: 40px;
    font-weight: 900;
}

.authTitle {
    font-weight: 600;
    font-size: 32px;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
}
.authResponseText {
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.authBodyText {
    font-weight: bold;
    color: black;
}

.authModalLoginBtn,
.authModalCloseBtn,
.authModalRegisterBtn {
    background-color: rgb(216, 154, 143);
    color: black;
    font-weight: bold;
}
.authcenter{
    align-content: center;
    text-align: center;
    height: 300px;

}
.authFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#authModalWindow,
#auth-nopwduid,
#auth-badpwduid,
#auth-duplicateuser,
#auth-nosuchuser {
    margin-left: 25%;
    margin-right: 25%;
}
